# App
NODE_ENV=development
PORT=4000

# Ports Docker
LEAD_HANDLER_APP_PORT=4000
LEAD_HANDLER_FRONTEND_PORT=3000

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PASSWORD_ENCODED=password
DATABASE_URL="postgresql://user:password@postgres:5432/lead_handler?schema=public"
DATABASE_URL_POSTGRES="postgresql://user:password@localhost:5432/lead_handler?schema=public"

# Auth
JWT_SECRET=super_secret
ADMIN_PASSWORD=password

# External APIs
TELEGRAM_BOT_TOKEN=your_telegram_bot
SMSCLUB_API_KEY=your_smsclub_api_key

# CRM URLs
ROBOTNIK_URL=https://api.example.com
ROBOTNIK_GEOIP_URL=https://api.example.com
ELNOPY_URL=https://api.example.com
ALTERCPA_URL=https://api.example.com
ALTERCPA_GET_STATUSES_URL=https://api.example.com
HUSTLE_TEAM_ROBOTNIK_URL=https://api.example.com

# Buyer Tokens
VLASNYK_TOKEN=token_for_vlasnyk
LEGKOKBBB_TOKEN=token_for_legkokbbb
TAIPAN_TOKEN=token_for_taipan
ONION_TOKEN=token_for_onion
LONDON_TOKEN=token_for_london
POOL_TOKEN=token_for_pool

# Frontend
NEXT_PUBLIC_LOGS_URL=http://localhost:4000
