# Node.js 
**/node_modules/
npm-debug.log

# Backend (NestJS)
dist/
dist-tsc/
/build/

# Frontend (Next.js)
frontend/.next/
frontend/build/

# Environment Variables
**/*.env

# Testing & Coverage
**/coverage/
**/.nyc_output/

# Logs
**/logs/
**/*.log

# OS Files 
.DS_Store
.DS_Store?

# IDEs and Editors
.vscode/*
.idea/*
